/out/
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log

# Calva and linters
/.calva
/.clj-kondo
/.lsp

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/
